#center{
    display:flex;
    justify-content:center;
    align-items:center;
}
#login{
    width:50%;height:80%;
    display:flex;
    justify-content:space-between;
    border:solid 1px #7FD8DA;
    border-radius:10px;
    min-width:30%;
    max-width:100%;
}

input #idPW{
    width:90%;
    font-size:10%;
}
#welcomeLoginBox{
    background-color:#7FD8DA;
    border-radius:10px;
    width:37%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    font-size:15%;
}

#loginBox{
    display:flex;
    align-items:flex-start;
    flex-direction:column;
    padding:5%;
    line-height:120%;
    justify-content:center;
}
#loginText{
    font-weight:bold;
    margin-bottom:1%;
}
#inputBttn{
    display:flex;
    flex-direction:row;
    margin:3% 0;
}
#loginButton, #loginBtnText{
    color:black;
    text-decoration:none;
    padding:3px;
    background-color:#7FD8DA;
}
#loginButton{
    display:flex;
    align-items:center;
}
#loginInput{
    display:flex;
    flex-direction:column;
}
#belowLogin{
    width:70%;
}
#keepLogin{
    display:inline-block;
    line-height:50%;
}
#signup_idPW{
    display:flex;
    flex-direction:row;
}
#keepLogin, #signup_idPW{
    font-size:20%;
}
